<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src='https://cdn.plot.ly/plotly-2.31.1.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='page_item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_styles.css') }}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</head>
<body>
    {% include 'nav_bar.html' %}

    <div class="second-bar">
        <div class="container-second" id="select-dashboard">
            <h2 id="dashboard-heading">軟體工程師 就業市場情報</h2>
            <select id="categoryDropdown">
            <option value="">軟體工程師</option>
            <option value="iOS工程師">iOS工程師</option>
            <option value="Android工程師">Android工程師</option>
            <option value="前端工程師">前端工程師</option>
            <option value="後端工程師">後端工程師</option>
            <option value="全端工程師">全端工程師</option>
            <option value="數據分析師">數據分析師</option>
            <option value="資料科學家">資料科學家</option>
            <option value="資料工程師">資料工程師</option>
            <option value="AI工程師">AI工程師</option>
            <option value="資料庫管理人員">資料庫管理人員</option>
        </select>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-container-2">
            <div class="flex-container-1">
                <h3 id="region-heading">台灣各縣市薪水平均值</h3>
                <div id="region-chart" class="chart"></div>
            </div>
            <div class="flex-container-1">
                <div class="flex-container-2">
                    <div class="flex-container-1">
                        <h3 id="edu-heading">要求學歷分布圖</h3>
                        <div id="edu-chart" class="chart"></div>
                    </div>
                    <div class="flex-container-1">
                        <h3 id="ratio-heading">職缺占比</h3>
                        <div id="ratio-chart" class="chart"></div>
                    </div>
                </div>
                <h3 id="wordcloud-heading">技能關鍵字</h3>
                <img id="wordcloud" class="chart" src="" alt="Word Cloud">
            </div>
        </div>
    </div>
    <br><br>
</body>
</html>