<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Career Compass</title>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='homepage_styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='page_item.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap">
        <script>
            function toggleBookmark(userId, jobCode) {
                event.preventDefault();
                var bookmarkIcon = document.getElementById('bookmarkIcon-' + jobCode);
                // Send AJAX request to Flask API
                fetch('/bookmark/' + userId + '/' + jobCode)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Update icon and text based on response
                        if (data.action === 'add') {
                            bookmarkIcon.src = "{{ url_for('static', filename='star_filled.png') }}";
                            // bookmarkIcon.parentNode.querySelector('p').textContent = '已收藏';
                        } else {
                            bookmarkIcon.src = "{{ url_for('static', filename='star_empty.png') }}";
                            // bookmarkIcon.parentNode.querySelector('p').textContent = '未收藏';
                        }
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
            }
        </script>
    </head>
    <body>
        {% include 'nav_bar.html' %}
        
        <div class="second-bar">
            <div class="container-second">
                <div class="searchbar">
                    <form class="item_ul" action="/job/search" method="GET">
                        {% if keyword %}
                            <input class="item" type="text" name="keyword" placeholder="Keyword" value="{{ keyword }}">
                        {% else %}
                            <input class="item" type="text" name="keyword" placeholder="Keyword" value="">
                        {% endif %}
                        {% if job_title %}
                            <input class="item" type="text" name="job_title" placeholder="Job Title" value="{{ job_title }}">
                        {% else %}
                            <input class="item" type="text" name="job_title" placeholder="Job Title" value="">
                        {% endif %}
                        {% if salary %}
                            <input class="item" type="text" name="salary" placeholder="Salary" value="{{ salary }}">
                        {% else %}
                            <input class="item" type="text" name="salary" placeholder="Salary" value="">
                        {% endif %}
                        {% if location %}
                            <input class="item" type="text" name="location" placeholder="Location" value="{{ location }}">
                        {% else %}
                            <input class="item" type="text" name="location" placeholder="Location" value="">
                        {% endif %}
                        <button class="item" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>        
        <div class="container d-flex justify-content-center mt-50 mb-50">
            <div class="row">
                <div class="col-md-10" style="width: 400px;">
                    {% if recommends %}
                    <br>
                    <h2>推薦職缺</h2>
                        {% for job in recommends %}
                        <div class="card card-body mt-3">
                            <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                                <!-- <div class="job mr-2 mb-3 mb-lg-0">
                                        <img src="https://cdn-icons-png.flaticon.com/512/4812/4812244.png" width="150" height="150" alt="">
                                </div> -->

                                <div class="media-body">
                                    <h4 class="media-title font-weight-semibold">
                                        <a href="{{ url_for('get_jd', job_code=job.job_code) }}">
                                            {{ job.job_title }}
                                        </a>
                                    </h4>

                                    <!-- remove a tag -->
                                    <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">{{ job.company_name }}</a></li>
                                    </ul>

                                    <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">{{ job.job_location }}</a></li>
                                    </ul>

                                    <p class="mb-3">{{ job.salary_period }}</p>

                                    <ul class="list-inline list-inline-dotted mb-0">
                                        <li class="list-inline-item"><a href="{{ url_for('get_jd', job_code=job.job_code) }}" class="text-muted" data-abc="true">職缺詳細</a></li>
                                    </ul>
                                </div>

                                <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                                    {% if name %}
                                        {% if job.job_code in bookmarked_list %}
                                        <a href="#" onclick="toggleBookmark('{{ user_id }}','{{ job.job_code }}')">
                                            <img id="bookmarkIcon-{{ job.job_code }}" src="{{ url_for('static', filename='star_filled.png') }}" alt="Icon" style="width: 25px; height: 25px;">
                                            <!-- <p>已收藏</p> -->
                                        </a>
                                        {% else %}
                                        <a href="#" onclick="toggleBookmark('{{ user_id }}','{{ job.job_code }}')">
                                            <img id="bookmarkIcon-{{ job.job_code }}" src="{{ url_for('static', filename='star_empty.png') }}" alt="Icon" style="width: 25px; height: 25px;">
                                            <!-- <p>未收藏</p> -->
                                        </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ url_for('get_login_page') }}">
                                            <img src="{{ url_for('static', filename='star_empty.png') }}" alt="Icon" style="width: 25px; height: 25px;">
                                            <!-- <p>未收藏</p> -->
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <br>
                        <br>
                    {% endif %}
                </div>
                <div class="col-md-10" style="width: 400px;">
                    {% if results %}
                    <br>
                    <h2>查詢結果</h2>
                        {% for job in results %}
                        <div class="card card-body mt-3">
                            <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                                <div class="job mr-2 mb-3 mb-lg-0">
                                        <img src="https://cdn-icons-png.flaticon.com/512/4812/4812244.png" width="150" height="150" alt="">
                                </div>

                                <div class="media-body">
                                    <h4 class="media-title font-weight-semibold">
                                        <a href="{{ url_for('get_jd', job_code=job.job_code) }}">
                                            {{ job.job_title }}
                                        </a>
                                    </h4>

                                    <!-- remove a tag -->
                                    <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">{{ job.company_name }}</a></li>
                                    </ul>

                                    <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">{{ job.job_location }}</a></li>
                                    </ul>

                                    <p class="mb-3">{{ job.salary_period }}</p>

                                    <ul class="list-inline list-inline-dotted mb-0">
                                        <li class="list-inline-item"><a href="{{ url_for('get_jd', job_code=job.job_code) }}" class="text-muted" data-abc="true">職缺詳細</a></li>
                                    </ul>
                                </div>

                                <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                                    {% if name %}
                                        {% if job.job_code in bookmarked_list %}
                                        <a href="#" onclick="toggleBookmark('{{ user_id }}','{{ job.job_code }}')">
                                            <img id="bookmarkIcon-{{ job.job_code }}" src="{{ url_for('static', filename='star_filled.png') }}" alt="Icon" style="width: 25px; height: 25px;">
                                            <!-- <p>已收藏</p> -->
                                        </a>
                                        {% else %}
                                        <a href="#" onclick="toggleBookmark('{{ user_id }}','{{ job.job_code }}')">
                                            <img id="bookmarkIcon-{{ job.job_code }}" src="{{ url_for('static', filename='star_empty.png') }}" alt="Icon" style="width: 25px; height: 25px;">
                                            <!-- <p>未收藏</p> -->
                                        </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ url_for('get_login_page') }}">
                                            <img src="{{ url_for('static', filename='star_empty.png') }}" alt="Icon" style="width: 25px; height: 25px;">
                                            <!-- <p>未收藏</p> -->
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <br>
                        <br>
                    <div class="container-no-match">
                        <div class="page-bottom-nav flex-container-1">
                            <button id="previousPage">上一頁</button>
                            <span class="current-page">第{{ page }}頁</span>
                            <button id="nextPage">下一頁</button>
                        </div>
                    </div>
                    {% else %}
                        {% if recommends %}
                        <div></div>
                        {% else %}
                        <div class="container-no-match">
                            <div class="flex-container-no-match">
                                <h3>No matching search results</h3>
                                <h6>There are no matches for your search.</h6>
                                <h6>Try to re-search to avoid errors.</h6>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>        
            </div>
        </div>
        <script>
            // JavaScript code for pagination
            document.getElementById('nextPage').addEventListener('click', function() {
                var currentPage = {{ page }};
                var nextPage = currentPage + 1;
                var currentUrl = window.location.href;
        
                if (currentUrl.includes('page=')) {
                    var newUrl = currentUrl.replace(/([?&])page=\d+/, '$1page=' + nextPage);
                } else {
                    var newUrl = currentUrl + (currentUrl.includes('?') ? '&' : '?') + 'page=' + nextPage;
                }
        
                window.location.href = newUrl;
            });
        
            document.getElementById('previousPage').addEventListener('click', function() {
                var currentPage = {{ page }};
                if (currentPage > 1) {
                    var previousPage = currentPage - 1;
                    var currentUrl = window.location.href;
        
                    if (currentUrl.includes('page=')) {
                        var newUrl = currentUrl.replace(/([?&])page=\d+/, '$1page=' + previousPage);
                    } else {
                        var newUrl = currentUrl + (currentUrl.includes('?') ? '&' : '?') + 'page=' + previousPage;
                    }
        
                    window.location.href = newUrl;
                }
            });

            // for dropdown
            $(document).ready(function(){
                $('.dropdown-submenu a.test').on("click", function(e){
                    $(this).next('ul').toggle();
                    e.stopPropagation();
                    e.preventDefault();
                });
            });
        </script>
    </body>
</html>