<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Description</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='job_content_styles.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    </head>
    <body>
        <div class="container d-flex justify-content-center mt-50 mb-50">
            <div class="col-md-10">
                {% if results %}
            {% for result in results %}
            <figure class="card card-product-grid card-lg">
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true"> <h2>{{ result.job_title }}</h2></a> <span class="rated">公司名</span> </div>
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">{{ result.company_name }}</a> <span class="rated">地區</span> </div>
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">{{ result.job_location }}</a> <span class="rated">薪資</span> </div>
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">{{ result.salary_period }}</a> <span class="rated">==</span> </div>
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">學歷：{{ result.edu_level }}</a> <span class="rated">==</span> </div>
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">年資：{{ result.work_experience }}</a> <span class="rated">==</span> </div>
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">技能：{{ result.skills }}</a> <span class="rated">==</span> </div>
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">是否可遠端：{{ result.remote }}</a> <span class="rated">==</span> </div>
                        <!-- <div class="col-md-3 col-xs-3">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 4.0/5</span> </div>
                        </div> -->
                    </div>
                </figcaption>
                <div class="bottom-wrap-payment">
                    <figcaption class="info-wrap">
                        <div class="row">
                            <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">管理責任：{{ result.management }}</a> <span class="rated">==</span> </div>
                            <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">出差外派：{{ result.travel }}</a> <span class="rated">==</span> </div>
                            <div class="col-md-3 col-xs-3">
                                <div class="rating text-right"> #### 8787 </div>
                            </div>
                        </div>
                    </figcaption>
                </div>
                <div class="bottom-wrap"> 
                    <div class="price-wrap"> <a href="{{ result.job_source }}" class="btn btn-warning float-right" data-abc="true"> 前往原網站 </a> </div>
                </div>
            </figure>
            {% endfor %}
            {% endif %}
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
