<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Sign-up</title>
    </head>
    <body>
        <form action="signup" method="POST">
            <h2>Please sign-up here</h2>
            <h4>
                Name:
                <input type="text" name="name" id="name" required>
                <br/>
                Email:
                <input type="text" name="email" id="email" required>
                <br/>
                Password:
                <input type="password" name="password" id="password" required>
                <br/>
            </h4>
            <input type="submit" value="Sign-up">
        </form>
        <p>&copy; powered by fang</p>
    </body>
</html>